#!/bin/bash

cd /home/popiel/games/lacuna
for n in Sea State Causes; do
  ./build_queue --body $n >>build.log 2>&1;
done

./park_ranger --body Causes >>build.log 2>&1
./trashman    --body Sea    >>build.log 2>&1
